# Virtual Environment
.env/
venv/
env/
*.env

# Python
__pycache__/
*.pyc
*.pyo

# Artifacts
artifacts/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/processed/